<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>CAD Portfolio</strong></div>
          <div class="panel-body">
            <div id="cadOverview" class="overview-container">
              <div class="chart-container"></div>
              <div><center><div class="legend-container"></div></center></div>
            </div>
          </div>
          <div class="panel-heading custom-panel-heading clearfix">
            <strong>Positions</strong>
            <div class="pull-right">
              <input type="checkbox" name="cadDailyChangePercentage" class="daily-change-percentage" data-position-container="cadPositions" />
            </div>
          </div>
          <div id="cadPositions" class="position-container daily-change"></div>
          <div class="panel-heading custom-panel-heading clearfix">
            <strong>Activity</strong>
          </div>
          <div id="cadActivities" class="position-container daily-change"></div>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>USD Portfolio</strong></div>
          <div id="usdOverview" class="overview-container">
            <div class="chart-container"></div>
            <div><center><div class="legend-container"></div></center></div>
          </div>
          <div class="panel-heading custom-panel-heading clearfix">
            <strong>Positions</strong>
            <div class="pull-right">
              <input type="checkbox" name="usdDailyChangePercentage" class="daily-change-percentage" data-position-container="usdPositions" />
            </div>
          </div>
          <div id="usdPositions" class="position-container daily-change"></div>
          <div class="panel-heading custom-panel-heading clearfix">
            <strong>Activity</strong>
          </div>
          <div id="usdActivities" class="position-container daily-change"></div>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Cryptocurrency Portfolio</strong></div>
          <div id="cryptoOverview" class="overview-container">
            <div class="chart-container"></div>
            <div><center><div class="legend-container"></div></center></div>
          </div>
          <div class="panel-heading custom-panel-heading clearfix">
            <strong>Positions</strong>
            <div class="pull-right">
              <input type="checkbox" name="usdDailyChangePercentage" class="daily-change-percentage" data-position-container="cryptoPositions" />
            </div>
          </div>
          <div id="cryptoPositions" class="position-container daily-change"></div>
        </div>
      </div>
    </div>
  </body>
</html>
