<tr id="symbol{{symbolId}}" class="position-details nohover">
  <td colspan="9">
    <div class="container-fluid">
      <div class="sidebar-container details-container col-md-3">
        <div class="container-fluid">
          <div class="row"><div class="sidebar-header col-md-12"><div class="bg-primary"><strong>Vitals</strong></div></div></div>
          <div class="row"><div class="col-md-12">Loading...</div></div>
          <div class="row"><div class="sidebar-header col-md-12"><div class="bg-primary"><strong>Industry</strong></div></div></div>
          <div class="row"><div class="col-md-12">Loading...</div></div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="container-fluid">
          <div class="row">
            <div class="sidebar-header hidden-md hidden-lg col-md-12"><div class="bg-primary"><strong class="mobile-chart-title">Chart</strong></div></div>
          </div>
          <div class="row"><div class="col-md-12">
            <div class="chart-container"></div>
            <div><center><div class="legend-container"></div></center></div>
          </div></div>
        </div>
      </div>
    </div>
  </td>
  <td colspan="9" class="activities-container">
    Loading...
  </td>
</tr>
